.searchPage__header {
  display: flex;
  align-items: flex-start;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  padding: 3rem;
  border-bottom: 1px solid lightgray;
}

.searchPage__logo {
  object-fit: contain;
  height: 5rem;
  margin-right: 5rem;
}

.searchPage__headerBody > .search > .search__input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
}

.searchPage__items a {
  text-decoration: none;
  color: gray;
}

.searchPage__itemsLeft,
.searchPage__itemsRight {
  display: flex;
}

.searchPage__itemsRight {
  margin-left: 8rem;
}

.searchPage__item {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-size: 1.3rem;
}

.searchPage__item a {
  margin-left: 0.5rem;
}

.searchPage__item > .MuiSvgIcon-root {
  font-size: 1.6rem;
}
