.searchPage__header {
  display: flex;
  align-items: flex-start;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  padding: 3rem;
  border-bottom: 1px solid lightgray;
}

.searchPage__logo {
  object-fit: contain;
  height: 5rem;
  margin-right: 5rem;
}

.searchPage__headerBody > .search > .search__input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
}

.searchPage__items a {
  text-decoration: none;
  color: gray;
}

.searchPage__itemsLeft,
.searchPage__itemsRight {
  display: flex;
}

.searchPage__itemsRight {
  margin-left: 8rem;
}

.searchPage__item {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-size: 1.3rem;
}

.searchPage__item a {
  margin-left: 0.5rem;
}

.searchPage__item > .MuiSvgIcon-root {
  font-size: 1.6rem;
}

.searchPage__result {
  margin-bottom: 2.8rem;
}
.searchPage__resultTitle--sub {
  font-size: 1.4rem;
  padding-top: 1px;
  line-height: 1.3;
  text-decoration: none;
  color: #202124;
  margin-right: -3px;
}

.searchPage__resultTitle {
  text-decoration: none;
}

.searchPage__resultTitle:hover {
  text-decoration: underline;
}
.searchPage__resultTitle > h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.3;
  padding-top: 4px;
  margin-bottom: 3px;
}

.searchPage__resultCount {
  color: #70757a;
  font-size: 1.4rem;
  margin-bottom: 2.8rem;
}

.searchPage__resultMenu {
  display: inline;
  font-size: 1.4rem;
  margin: 0 3px 0 3px;
  vertical-align: middle;
}

.searchPage__results {
  max-width: 65rem;
  margin-top: 2rem;
  margin-left: 24rem;
  margin-bottom: 10rem;
}

.searchPage__resultSnippet {
  font-size: 1.4rem;
}

.searchPage__resultImage {
  object-fit: contain;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 71em) {
  .searchPage__logo {
    display: block;
    height: 3rem;
    margin: 1rem auto 0 auto;
  }
  .searchPage__header {
    flex-direction: column;
    padding: 1rem;
    align-items: unset;
  }
  .searchPage__headerBody {
    width: 95vw;
  }
  .searchPage__headerBody > .search > .search__input {
    margin: 1rem auto;
  }
  .searchPage__items {
    overflow-y: scroll;
  }
  .searchPage__itemsRight {
    margin-left: 0;
  }
  .searchPage__results {
    margin: 1rem auto;
  }

  .searchPage__result {
    background-color: #fff;
    margin: 1rem 1rem;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-radius: 8px;
    padding: 1.2rem 1.6rem;
  }

  .searchPage__resultCount {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}
